:root{
    --dark-indigo: #090553;
    --light-indigo: #eef2ff;
}

body {
    background-color: var(--light-indigo);
}

/* navigation-container */
.wishlist-navigation-container {
    font-size: 1.25rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color:var(--dark-indigo);
    padding: 1rem;
    color: var(--light-indigo);
    z-index: 2;
}

a{
    text-decoration: none;
    color: var(--light-indigo);
  }

  .fa-cart-shopping{
      cursor: pointer;
  }
.toolBar {
    flex-grow: 0.5;
    align-items: center;
    gap: 0.5rem;
}

.search-bar {
    flex-grow: 3;
    font-size: 1rem;
}

.search-input {
    width: 13rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.3rem;
    text-decoration: none;
}

.login-btn {
    padding: 0.3rem 0.5rem;
    margin:0;
}

/* my cart container */
.my-cart-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.3rem;
    padding: 1rem;
    margin-left: 9vw;
    margin-right: 12vw;
}

/* Cart Management container */

.cart-management-container {
    position: relative;
    top: 4rem;
    text-align: center;
}

/* Horizontal card */
.shoe-image {
    background-color: yellow;
}

.shoe-card {
    display: flex;
    height: 15rem;
    width: max-content;
}

.cart-card-img {
    background-color: white;
    width: 15rem;
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    align-items: flex-start;
    background-color: white;
    word-spacing: 0.5rem;
    align-items: flex-start;
    flex-grow: 1;
    height: 100%;
    margin-right: 0.5rem;
}

.card-heading {
    font-size: 1.125rem;
    font-weight: bold;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
}

.card-main {
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.card-content {
    font-size: 0.875rem;
    align-self: flex-start;
    margin-top: 0;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.minus-btn,
.plus-btn {
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    margin: 1rem 0.5rem;
}

.quantity {
    border: 1px solid black;
    padding-top: 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    margin: 1rem 0;
}

.remove-cart-btn {
    padding: 3px;
    font-size: 1rem;
}

.wishlist-btn {
    padding: 3px;
    font-size: 1rem;
}

/* Price Details Container */

.price-details-container {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    background-color: white;

}

.detail-price {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.2rem;
}

.discount-given {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

.delivery-charge {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
    width: 100%;
    padding: 0.2rem;
}

.total-amount {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
}

.price-details-header {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
    padding-bottom: 1px;
}