:root{
  --dark-indigo:#090553;
  --light-indigo: #eef2ff;
}

/* navigation-container */
.product-navigation-container{ 
    font-size: 1.25rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    background-color: var(--dark-indigo);
    padding:1rem;
    color: var(--light-indigo);
    z-index: 2;
  }
  
  .navigation-header{
    flex-grow:1;
    text-align: left;
    margin-left: 1rem;
  }
  
  a{
    text-decoration: none;
    color: var(--light-indigo);
  }
  
  .toolBar{
    display: flex;
    justify-content:space-around;
    margin-right: 1rem;
    flex-grow: 0.5;
    align-items: center;
    margin-left: 1rem;
    gap: 0.5rem;
  } 
 
  .search-bar{
    flex-grow: 3;
    font-size: 1rem;
  }

  .search-input{
      width: 13rem;
      border-radius: 0.5rem;
      border: none;
      padding: 0.3rem;
      text-decoration: none;
  }

  .login-btn{
    margin: 0rem;
    padding: 0.3rem 0.5rem;
  }

  /* filter container */
  .filter-container{
      position: fixed;
      top:3rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      background-color: var(--light-indigo);
      left: 0;
      z-index: 1;
      overflow: hidden;
      height: 100%;
  }

  .filter-header{
      display: flex;
      justify-content: space-between;
  }
  
  .price-filter-area{
    display: flex;
    flex-direction: column; 
  }

  .category-filter-area{
    display: flex;
    flex-direction: column;  
  }


  .filter-header div{
      font-size: 1rem;
      font-weight: bold;
  }

  .clear-btn{
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1rem;
      text-decoration: underline;
      color:var(--dark-indigo);
  }
  .price-btn{
    font-size: 0.8rem;
    margin: 0.1rem;
  }

  /* product container */
.product-view{
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 0.5rem;
    background-color: var(--light-indigo);
    padding: 1rem;
    border-radius: 0.325rem;
}
.product-container{
    position:static;
    padding: 6rem;
    padding-left: 18rem;
}
  
.product-header h4{
    display: inline;
}