/* navigation-container */
.product-navigation-container{ 
    font-size: 1.25rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    background-color:#090553;
    padding:1rem;
    color: #eef2ff;
    z-index: 2;
  }
  
  .navigation-header{
    flex-grow:1;
    text-align: left;
    margin-left: 1rem;
  }
  
  .toolBar{
    display: flex;
    justify-content:space-around;
    margin-right: 1rem;
    flex-grow: 0.5;
    align-items: center;
    margin-left: 1rem;
    gap: 0.5rem;
  } 
 
  .search-bar{
    flex-grow: 3;
    font-size: 1rem;
  }

  .search-input{
      width: 13rem;
      border-radius: 0.5rem;
      border: none;
      padding: 0.3rem;
      text-decoration: none;
  }

  .login-btn{
    border-radius: 0.125rem;
    background-color: #6366f1;
    color: #eef2ff;
    border: none;
    width: 4rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }

  /* filter container */
  .filter-container{
      position: fixed;
      top:3rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      background-color: #eef2ff;
      left: 0;
      z-index: 1;
      overflow: hidden;
      height: 100%;
  }

  .filter-header{
      display: flex;
      justify-content: space-between;
  }
  
  .price-filter-area{
    display: flex;
    flex-direction: column; 
  }

  .category-filter-area{
    display: flex;
    flex-direction: column;  
  }


  .filter-header div{
      font-size: 1rem;
      font-weight: bold;
  }

  .clear-btn{
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1rem;
      text-decoration: underline;
      color: #090553;
  }
  .price-btn{
    border-radius: 0.3125rem;
    background-color: #6366f1;
    color: #eef2ff;
    border: none;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin: 0.1rem;
  }

  /* product container */
.product-view{
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 0.5rem;
    background-color: #eef2ff;
    padding: 1rem;
    border-radius: 0.325rem;
}
.product-container{
    position:static;
    padding: 6rem;
    padding-left: 18rem;
}
  
.product-header h4{
    display: inline;
}