:root{
  --dark-indigo:#090553;
  --light-indigo: #eef2ff;
}

/* navigation-container */
.wishlist-navigation-container{ 
    font-size: 1.25rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    background-color:var(--dark-indigo);
    padding:1rem;
    color: var(--light-indigo);
    z-index: 2;
  }
  
  a{
    text-decoration: none;
    color: var(--light-indigo);
  }
  
  .toolBar{
    flex-grow: 0.5;
    align-items: center;
    gap: 0.5rem;
  } 
 
  .search-bar{
    flex-grow: 3;
    font-size: 1rem;
  }

  .search-input{
      width: 13rem;
      border-radius: 0.5rem;
      border: none;
      padding: 0.3rem;
      text-decoration: none;
  }

  .login-btn{
    margin: 0;
    padding: 0.3rem 0.5rem;
  }

  /* wishlist container  */
  
  .wishlist-container{
    position: relative;
    top: 5rem;
    text-align: center;
  }

  .wishlist-view{
    position: relative;
    top:7rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 1rem;
  }
  
.wishlist-card{
    display: flex;
    flex-direction:column;
}

.badge-cards{
    width:12rem;
    height: 17rem;
}

.wishlist-btn{
    cursor: pointer;
    width:0px;
    height:0px;
    position: absolute;
    top: 0.1rem;
    right:1.5rem; 
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.brand-name{
    font-size: 0.9rem;
}

.product-name{
    font-size: 0.8rem;
}

.offer{
    font-size: 0.8rem;
}

.wish-icon{
    font-size: 1.25rem;
    background-color: white;
    border:none;
    color: red;
    width: 1.5rem;
    height: 1.3rem;
    text-align: center;
    border-radius: 50%;
    padding-top: 0.3rem;
}